{% extends "corpoelec.html" %}

{% block titulo %}

    <title> Actividades </title>
    
 {% endblock titulo %}}

{%block content%}


<div class="row justify-content-md-center ">
  <div class="col-sm-6">
    <div class="card">
<div class="card">
  
  <div class="card-body">
    <h3 style="text-align: center; background-color: rgb(0, 68, 255); color:black;" class="card-header">Editar sub actividad </h3>
    <p class="card-text">
      
    </p>
    
    
          
            
     
  
<form method="POST" >


{% csrf_token %}





{{form.as_p}}

    
  <button   style="border-radius: 15px; text-align: center; font-family: cursive" class="btn btn-success btn-block mt-5" type="submit">Crear sub Ctividad</button>

  
</form>




</div>
</div>
 </div>
</div>
  </div>
</div>

</div>
</div>



<script>

  // funcion que hace que solo se permitan letras 
  function validarLetras(e) { // 1
      tecla = (document.all) ? e.keyCode : e.which; 
      if (tecla==8) return true; // backspace
          if (tecla==32) return true; // espacio
          if (e.ctrlKey && tecla==86) { return true;} //Ctrl v
          if (e.ctrlKey && tecla==67) { return true;} //Ctrl c
          if (e.ctrlKey && tecla==88) { return true;} //Ctrl x
   
          patron = /[a-zA-Z]/; //patron
   
          te = String.fromCharCode(tecla); 
          return patron.test(te); // prueba de patron
      }
      
  </script>







  
{%endblock content%}