{%block content%}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title"> Crear Actividad</h2>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>

			<div class="content">
            <div class="col-12 pt-3 pb-3" id="profile-box">
              <div class="card-title py-3">
			<form action="{% url 'gestion:crea_sub_actividad' object.id %}" method="post" >
				

			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
				<div class="form-grup">

					{% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}

					
                        
                {% csrf_token %}

          

				{{form.as_p}}

                        
                  
               

							

								



							
</div>
				

			</div>
			
				<button class="btn btn-danger" type="button" data-dismiss="modal"> Cancelar</button>
				<button class="btn btn-primary" type="submit" > Aprobar</button>
				

			

			</form>
			</div>
			</div>
			</div>
				
		



	</div>
	





</div>
</div>

<script>

// funcion que hace que solo se permitan letras 
function validarLetras(e) { // 1
    tecla = (document.all) ? e.keyCode : e.which; 
    if (tecla==8) return true; // backspace
        if (tecla==32) return true; // espacio
        if (e.ctrlKey && tecla==86) { return true;} //Ctrl v
        if (e.ctrlKey && tecla==67) { return true;} //Ctrl c
        if (e.ctrlKey && tecla==88) { return true;} //Ctrl x
 
        patron = /[a-zA-Z]/; //patron
 
        te = String.fromCharCode(tecla); 
        return patron.test(te); // prueba de patron
    }
    
</script>

{%endblock content%}